<div class="welcome">
    <div class="container wel-banner">
        <img src="/img/welcome.jpg" alt="Welcome Banner">
    </div>

    <div class="container text-center">
        <h3>Account Details</h3>
        <p class="accttl">{{account.firstName}} {{account.lastName}}<span class="slash">&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="/forms/login">Sign Out</a></p>
    </div>
    
    <div class="container myaccount">
        <div class="row">
            <div class="col-md-3">
                <p class="name">{{account.firstName}} {{account.lastName}}</p>
                <p class="email">Email: {{account.email}}</p>
                <p>Phone: {{account.phoneNumber}}</p>
                <p><a href="#">Manage your information</a></p>
            </div>
            <div class="col-md-3">
                <p class="order">Order History</p>
                <p>You haven't placed any orders yet.</p>
            </div>
            <div class="col-md-3">
                <p class="gift-card">Your Payments</p>
                <p>Manage payment methods</p>
                <p>View balances and offers</p>
            </div>
            <div class="col-md-3">
                <p class="gift-card">Gift Cards</p>
                <p>You haven't any gift card yet.</p>
                <p>Subscribe us to win a gift card</p>
            </div>
        </div>
    </div> 
</div>
<hr>

